body{
    width: 98%;
    margin: 1%;
    display: grid;
    grid-template-columns: 4fr 2fr;
}
#mensajesError{
    margin-right: 1%;
}
/* Estilo mensajes de error de la derecha */

.errores{
    color: red;
    text-align: justify;
}

.dosCol{
    display: grid;
    grid-template-columns: auto auto;
}
.tresCol{
    display: grid;
    grid-template-columns: auto auto auto;
}
.unacol{
    display: grid;
    grid-template-columns: auto;
}
input[type="text"], input[type="password"], input[type="tel"], textarea{
    border-radius: 0.25rem;
    margin: 0.2em;
}
#password{
    width: 97%;
}
input[type="text"]:required, 
input[type="password"]:required, 
input[type="tel"]:required, 
textarea:required {
    border: 2px solid red;
    height: fit-content;
}

input[type="text"]:invalid, 
input[type="password"]:invalid, 
input[type="tel"]:invalid, 
textarea:invalid {
    border: 2px red solid ;
    height: fit-content;
}

input[type="text"]:valid, input[type="password"]:valid, input[type="tel"]:valid, textarea:valid{
    border: 2px solid green;
    height: fit-content;
}
.contador{
    margin-top: -0.2em;
    font-size: small;
    text-align: right;
}
.errorPersonalizado{
    margin-top: -0.2em;
    font-size: small;
    color: red;
    display:block;
    margin-top: 0;
}
fieldset{
    border: none;
}
hr{
    margin-top: -0.4rem;
    height: 2px;
    background-color: black;
}
#Descripcion{
    resize: none;
}